body{

    margin:0;
    padding:0;

    background:#0f172a;

    font-family:Arial,sans-serif;

    color:white;
}

/* NAVBAR */

.custom-navbar{

    background:#111827;

    padding:18px 0;
}

.navbar-brand{

    font-size:30px;

    font-weight:bold;
}

.nav-link{

    color:white !important;

    margin-left:15px;
}

.nav-link:hover,
.nav-link.active{

    color:#22c55e !important;
}

/* HERO */

.hero-section{

    padding:120px 20px;

    text-align:center;

    background:
    linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)),

    url('https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=1400');

    background-size:cover;

    background-position:center;
}

.hero-title{

    font-size:65px;

    font-weight:bold;

    margin-bottom:20px;
}

.hero-text{

    font-size:20px;

    color:#d1d5db;
}

/* CONTACT */

.contact-section{

    padding:100px 20px;
}

/* CARD */

.info-card,
.form-card{

    background:#111827;

    padding:40px;

    border-radius:20px;

    height:100%;
}

/* INFO */

.contact-item{

    margin-top:30px;
}

.contact-item h5{

    color:#22c55e;
}

/* INPUT */

.form-control{

    background:#0f172a !important;

    border:none !important;

    color:white !important;

    padding:15px !important;

    border-radius:12px !important;
}

/* BUTTON */

.send-btn{

    width:100%;

    margin-top:30px;

    padding:15px;

    border:none;

    background:#22c55e;

    color:white;

    border-radius:12px;

    font-weight:bold;
}

/* ERROR */

.error-text{

    color:#ef4444;

    font-size:14px;
}

/* SUCCESS */

.success-box{

    display:none;

    margin-top:25px;

    background:#22c55e;

    padding:15px;

    border-radius:12px;

    text-align:center;
}

/* FAQ */

.faq-section{

    padding:100px 20px;

    background:#111827;
}

.section-title{

    text-align:center;

    font-size:50px;

    margin-bottom:50px;
}

.faq-card{

    background:#0f172a;

    padding:30px;

    border-radius:15px;

    margin-bottom:25px;
}

.faq-card h4{

    color:#22c55e;
}

/* FOOTER */

.footer{

    background:#111827;

    padding:30px;

    text-align:center;
}